* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --ball-color-1: hsl(119, 100%, 50%); 
  --ball-color-2:hsl(0, 100%, 50%);
  --ball-color-3:hsl(180, 100%, 50%);
  --ball-color-4:hsl(60, 100%, 50%);
  --ball-color-5:hsl(240, 100%, 50%);

  --ball-size: 50px;

  --duration-anim-color: 10s;
  --duration-anim-movement: 20s;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 15fr;
    height: 100vh;
}

.container {
  grid-row: 2;
  grid-column: 1 /span 2;

  padding: 20px;
  /* background-color: red; */
}

.ball {
    position: fixed;
    left: 25%;
    top: 10%;
    height: var(--ball-size);
    width: var(--ball-size);
    border-radius: 50%;

    animation: ball-color-anim var(--duration-anim-color) infinite,
                x-axis var(--duration-anim-movement) infinite cubic-bezier(.49,.87,.92,.78),
                y-axis var(--duration-anim-movement) infinite cubic-bezier(.88,.25,.1,.69);
  }

@keyframes ball-color-anim {
    0%,19%  {background: radial-gradient(at 30% 30%, var(--ball-color-1), hsl(0, 0%, 0%))}
    20%,39% {background: radial-gradient(at 30% 30%, var(--ball-color-2), hsl(0, 0%, 0%))}
    40%,59% {background: radial-gradient(at 30% 30%, var(--ball-color-3), hsl(0, 0%, 0%))}
    60%,79% {background: radial-gradient(at 30% 30%, var(--ball-color-4), hsl(0, 0%, 0%))}
    80%,99% {background: radial-gradient(at 30% 30%, var(--ball-color-5), hsl(0, 0%, 0%))}
}

@keyframes x-axis {
    0%  {left: 25%}
    10%  {left: 15%}
    20%  {left: 36%}
    25% {left: 72%}
    30% {left:50%}
    40% {left: 20;}
    50% {left: 60%}
    65% {left:32%}
    75% {left: 87%}
    100% {left: 25%}
}

@keyframes y-axis {
    0%  {top: 10%}
    15% {top: 73%}
    20% {top: 25%}
    25% {top: 53%}
    50% {top: 91%}
    65% {top: 84%}
    75% {top: 42%}
    100% {top: 10%}
}

/* @keyframes x-axis {
    to {
        right:400px;
    }
} */
