
/* --------------BALL--------------- */

:root{ 
    --sun-radius:100px;
    --sun-color-1: hsl(54, 84%, 49%);
    --sun-color-2: hsl(39, 90%, 47%); 

    --mercury-radius: 10px;
    --mercury-color-1:hsl(37, 50%, 53%);
    --mercury-color-2:hsl(47, 63%, 15%);

    --venus-radius: 20px;
    --venus-color-1:hsl(47, 85%, 41%);
    --venus-color-2:hsl(34, 86%, 29%);

    --earth-radius: 25px;

    --mars-radius: 23px;
    --mars-color-1:hsl(0, 69%, 61%);
    --mars-color-2:hsl(0, 51%, 19%);

    --jupiter-radius: 50px;
    --jupiter-color-1:hsl(43, 100%, 50%);
    --jupiter-color-2:hsl(33, 85%, 34%);
    --jupiter-color-3:hsl(33, 87%, 20%);

    --saturn-radius: 40px;
    --saturn-color-1:hsl(43, 64%, 61%);
    --saturn-color-2:hsl(42, 52%, 50%);
    --saturn-color-3:hsl(44, 70%, 35%);
    --saturn-ring:hsl(43, 29%, 55%);

    --uranus-radius: 30px;
    --uranus-color-1:hsl(203, 45%, 61%);
    --uranus-color-2:hsl(204, 53%, 27%);
    
    --neptune-radius: 32px;
    --neptune-color-1:hsl(240, 64%, 62%);
    --neptune-color-2:hsl(231, 67%, 28%);
    --neptune-ring: hsl(203, 31%, 76%);

    --planets-gap:5px;
  }

.container {
    background-color: hsl(0, 2%, 10%);
}

.sun{
    position: absolute;
    height: var(--sun-radius);
    width: var(--sun-radius);
    border-radius: 100%;
    background: radial-gradient(at 30% 50%, var(--sun-color-1), var(--sun-color-2));
    box-shadow: 0 0 30px var(--sun-color-2);
    
    left: calc(50% - var(--sun-radius) / 2);
    
    animation: bounce 2s infinite ease-in;
}

.mercury {
    position: absolute;
    height: var(--mercury-radius);
    width: var(--mercury-radius);
    border-radius: 100%;
    background:  radial-gradient(at 30% 50%, var(--mercury-color-1), var(--mercury-color-2));
    
    top: calc(50% - var(--mercury-radius) / 2);
    left: calc(50% - var(--mercury-radius) / 2);
    
    animation: rotate-mercury 3s linear infinite;
}

.venus {
    position: absolute;
    height: var(--venus-radius);
    width: var(--venus-radius);
    border-radius: 100%;
    background:  radial-gradient(at 30% 50%, var(--venus-color-1), var(--venus-color-2));
    
    top: calc(50% - var(--venus-radius) / 2);
    left: calc(50% - var(--venus-radius) / 2);

    animation: rotate-venus 5s linear infinite;
}

.earth {
    position: absolute;
    height: var(--earth-radius);
    width: var(--earth-radius);
    border-radius: 100%;
    background:url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/earth-2.jpg);
    background-size:cover;

    top: calc(50% - var(--earth-radius) / 2);
    left: calc(50% - var(--earth-radius) / 2);

    animation: rotate-earth 8s linear infinite;
}

.mars {
    position: absolute;
    height: var(--mars-radius);
    width: var(--mars-radius);
    border-radius: 100%;
    background:  radial-gradient(at 30% 50%, var(--mars-color-1), var(--mars-color-2));
    
    top: calc(50% - var(--mars-radius) / 2);
    left: calc(50% - var(--mars-radius) / 2);
    
    animation: rotate-mars 10s linear infinite;
}

.jupiter {
    position: absolute;
    height: var(--jupiter-radius);
    width: var(--jupiter-radius);
    border-radius: 100%;
    background:  radial-gradient(at 50% 50%, var(--jupiter-color-1) 0%, var(--jupiter-color-2) 10%, var(--jupiter-color-3) 20%,
    var(--jupiter-color-1) 35%, var(--jupiter-color-2) 40%, var(--jupiter-color-3) 50%, var(--jupiter-color-2) 55%, var(--jupiter-color-3) 60%);
    
    top: calc(50% - var(--jupiter-radius) / 2);
    left: calc(50% - var(--jupiter-radius) / 2);
    
    animation: rotate-jupiter 15s linear infinite;
}

.saturn {
    position: absolute;
    height: var(--saturn-radius);
    width: var(--saturn-radius);
    border-radius: 100%;
    background:  radial-gradient(at 50% 50%, var(--saturn-color-1) 0%, var(--saturn-color-2) 10%, var(--saturn-color-3) 20%,
    var(--saturn-color-1) 35%, var(--saturn-color-3) 50%, var(--saturn-color-2) 55%, var(--saturn-color-3) 60%);
    
    top: calc(50% - var(--saturn-radius) / 2);
    left: calc(50% - var(--saturn-radius) / 2);
    
    animation: rotate-saturn 20s linear infinite;
}


.saturn::before{
    content: "";
    width: calc(var(--saturn-radius) * 1.3);
    height: calc(var(--saturn-radius) * 1.3);
    border: solid 6px var(--saturn-ring);
    border-radius: 50%;
    top: -30%;
    left:-30%;
    position: absolute;
    /* transform: rotate3d(1, 0, 0, 75deg); */
}

.uranus {
    position: absolute;
    height: var(--uranus-radius);
    width: var(--uranus-radius);
    border-radius: 100%;
    background:  radial-gradient(at 30% 50%, var(--uranus-color-1), var(--uranus-color-2));
    
    top: calc(50% - var(--uranus-radius) / 2);
    left: calc(50% - var(--uranus-radius) / 2);

    animation: rotate-uranus 26s linear infinite;
}

.neptune {
    position: absolute;
    height: var(--neptune-radius);
    width: var(--neptune-radius);
    border-radius: 100%;
    background:  radial-gradient(at 30% 50%, var(--neptune-color-1), var(--neptune-color-2));
    
    top: calc(50% - var(--neptune-radius) / 2);
    left: calc(50% - var(--neptune-radius) / 2);
    
    animation: rotate-neptune 30s linear infinite;
}

.neptune::before{
    content: "";
    width: calc(var(--neptune-radius) * 1.3);
    height: calc(var(--neptune-radius) * 1.3);
    border: solid 2px var(--neptune-ring);
    border-radius: 50%;
    top: -20%;
    left:-20%;
    position: absolute;
    transform: rotate3d(1, 0, 0, 75deg);
}

@keyframes bounce {
    0%,33%  {top:  calc(50% - var(--sun-radius) / 2);}
    33%,66% {top:  calc(51% - var(--sun-radius) / 2);}
    66%, 100% {top:  calc(50% - var(--sun-radius) / 2);}
}

@keyframes rotate-mercury {
    from { 	transform: rotate(0deg) translateX(70px); }
	to   {  transform: rotate(360deg) translateX(70px); }
}
  
@keyframes rotate-venus {
    from { 	transform: rotate(0deg) translateX(calc(70px + var(--venus-radius) + var(--planets-gap))); }
	to   {  transform: rotate(360deg) translateX(calc(70px + var(--venus-radius) + var(--planets-gap))); }
}
  
@keyframes rotate-earth {
    from { 	transform: rotate(0deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + 2 * var(--planets-gap))); }
	to   {  transform: rotate(360deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius)  + 2 * var(--planets-gap))); }
}
  
@keyframes rotate-mars {
    from { 	transform: rotate(0deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + 3 * var(--planets-gap))); }
	to   {  transform: rotate(360deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + 3 * var(--planets-gap))); }
}
  
@keyframes rotate-jupiter {
    from { 	transform: rotate(0deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + var(--jupiter-radius) + 4 * var(--planets-gap))); }
	to   {  transform: rotate(360deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + var(--jupiter-radius) + 4 * var(--planets-gap))); }
}
  
@keyframes rotate-saturn {
    from { 	transform: rotate(0deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + var(--jupiter-radius) + var(--saturn-radius) + 5 * var(--planets-gap))); }
	to   {  transform: rotate(360deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + var(--jupiter-radius) + var(--saturn-radius) + 5 * var(--planets-gap))); }
}
  
@keyframes rotate-uranus {
    from { 	transform: rotate(0deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + var(--jupiter-radius) + var(--saturn-radius) + var(--uranus-radius) + 6 * var(--planets-gap))); }
	to   {  transform: rotate(360deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + var(--jupiter-radius) + var(--saturn-radius) + var(--uranus-radius) + 6 * var(--planets-gap))); }
}
  
@keyframes rotate-neptune {
    from { 	transform: rotate(0deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + var(--jupiter-radius) + var(--saturn-radius) + var(--uranus-radius) + var(--neptune-radius) + 7 * var(--planets-gap))); }
	to   {  transform: rotate(360deg) translateX(calc(70px + var(--earth-radius) + var(--venus-radius) + var(--mars-radius) + var(--jupiter-radius) + var(--saturn-radius) + var(--uranus-radius) + var(--neptune-radius) + 7 * var(--planets-gap))); }
}
  